services:
  kavita:
    image: jvmilazz0/kavita:0.8.9@sha256:1f2acae7466d022f037ea09f7989eb7c487f916b881174c7a6de33dbfa8acb39
    container_name: kavita
    restart: unless-stopped
    env_file: .env
    ports:
      - "5000:5000"
    volumes:
      - ${BASE_DATA_DIR}/Mangas:/manga
      - ${BASE_DATA_DIR}/Comics:/comics
      - ${BASE_DATA_DIR}/Books:/books
      - ./config:/kavita/config
    labels:
      - com.centurylinklabs.watchtower.enable=true
