# Ignore everything
*

# Ignore NextCloud backup
nextcloud/backups

# whitelist directories otherwise below rules won't work when files are in subdirs
!*/

# Only track compose files, sample.env and .gitignore
!docker-compose.yml
!sample.env
!.gitignore
