version: "3"
services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:2.32.1@sha256:a52dc5db694a5bf041ce38f285dd6c6a660a4b1b21e37ad6b6746433263b2ae5
    container_name: audiobookshelf
    restart: unless-stopped
    ports:
      - "13378:80"
    volumes:
      - ${DATA_DIR}:/audiobooks
      - ./config:/config
      - ./metadata:/metadata
    labels:
      - com.centurylinklabs.watchtower.enable=true
