version: "3"
services:
  heimdall:
    image: linuxserver/heimdall:2.7.6@sha256:9b09fefabe2daf6f3d2363ae94baae18283408f3eff60715995553342cb9ecac
    container_name: heimdall
    restart: always
    environment:
      - PGID=1000
      - PUID=1000
    ports:
      - "9000:443"
    volumes:
      - ./config:/config
    labels:
      - com.centurylinklabs.watchtower.enable=true
