version: "3"
services:
  plex-media-healthcheck:
    image: node:22-alpine@sha256:bd26af08779f746650d95a2e4d653b0fd3c8030c44284b6b98d701c9b5eb66b9
    container_name: plex-media-healthcheck
    env_file: .env
    volumes:
      - ${PLEX_MEDIA_DIR:?media_dir_missing}:/data:ro
    command: sh -c 'until [[ $(ls -A /data | wc -l) -gt 0 ]]; do echo "Waiting for volume to be ready"; sleep 2; done; echo "Volume ready for use"; sleep infinity;'
    healthcheck:
      test: "[[ $(ls -A /data | wc -l) -gt 0 ]] || exit 1"
      interval: 1m
      timeout: 15s
      retries: 3
      start_period: 15s

  plex:
    image: plexinc/pms-docker:1.43.0.10492-121068a07-armhf@sha256:dbd7ecc0bb1103c1d568677242421e2e13a3c498abe07758ba95aefcd94ffebe
    container_name: plex
    restart: unless-stopped
    env_file: .env
    network_mode: host
    volumes:
      - ./config:/config
      - ./transcode:/transcode
      - ${PLEX_MEDIA_DIR:?media_dir_missing}:/data/media:ro
    depends_on:
      plex-media-healthcheck:
        condition: service_healthy
    labels:
      - com.centurylinklabs.watchtower.enable=true

  tautulli:
    image: ghcr.io/tautulli/tautulli:v2.16.0@sha256:7e6ede32f7923e01899db906aa6a96d978a4a8df8e2ef0dcf44c92b2d0206221
    container_name: tautulli
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    ports:
      - "8181:8181"
    volumes:
      - ./tautulli-config:/config
    depends_on:
      - plex
