# Port 8123 is the default port for Home Assistant
version: "3"
services:
  home-assistant:
    image: ghcr.io/home-assistant/home-assistant:stable@sha256:8951fcbb794da8f261e1639c668639bc90f9520b48099b5715f6d5fbfef08a0e
    container_name: home-assistant
    restart: unless-stopped
    env_file: .env
    # privileged: true - Required for bluetooth
    volumes:
      - ./config:/config
      - /run/dbus:/run/dbus:ro
    network_mode: host
    # labels:
    #   - com.centurylinklabs.watchtower.enable=true
