# Port 8123 is the default port for Home Assistant
version: "3"
services:
  home-assistant:
    image: ghcr.io/home-assistant/home-assistant:stable@sha256:8949aa75a417c0a71208255c999bfb3eea3e909ff2eab4ac4ca26a2cbd886f05
    container_name: home-assistant
    restart: unless-stopped
    env_file: .env
    # privileged: true - Required for bluetooth
    volumes:
      - ./config:/config
      - /run/dbus:/run/dbus:ro
    network_mode: host
    # labels:
    #   - com.centurylinklabs.watchtower.enable=true
