version: "3"
services:
  dozzle-agent-niraj:
    image: amir20/dozzle:v9.0.2@sha256:bad5ccd44a1bf40492e1142e9ae6fca2c53d197a01fee5ef5d0f6ed45ea21fcb
    command: agent
    environment:
      - DOZZLE_HOSTNAME=niraj
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 5s
      retries: 5
      start_period: 5s
      start_interval: 5s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  dozzle-agent-nandish:
    image: amir20/dozzle:v9.0.2@sha256:bad5ccd44a1bf40492e1142e9ae6fca2c53d197a01fee5ef5d0f6ed45ea21fcb
    command: agent
    environment:
      - DOZZLE_HOSTNAME=nandish
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 5s
      retries: 5
      start_period: 5s
      start_interval: 5s
    volumes:
      - /run/user/1001/docker.sock:/var/run/docker.sock:ro

  dozzle:
    image: amir20/dozzle:v9.0.2@sha256:bad5ccd44a1bf40492e1142e9ae6fca2c53d197a01fee5ef5d0f6ed45ea21fcb
    container_name: dozzle
    environment:
      - DOZZLE_AUTH_PROVIDER=simple
      - DOZZLE_REMOTE_AGENT=dozzle-agent-niraj:7007,dozzle-agent-nandish:7007
    ports:
      - "14000:8080"
    volumes:
      - ./config:/data
    depends_on:
      - dozzle-agent-niraj
      - dozzle-agent-nandish
    labels:
      - com.centurylinklabs.watchtower.enable=true
