version: "3"
services:
  web_recipes:
    image: vabene1111/recipes:2.5.3@sha256:7ce6534c9ab0e471fd0f08add67e871b9173fb580c2f86294c3ead025603a3d7
    container_name: tandoor
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "7000:80"
    volumes:
      - staticfiles:/opt/recipes/staticfiles
      - ./mediafiles:/opt/recipes/mediafiles
      - ./db.sqlite3:/opt/recipes/db.sqlite3
    labels:
      - com.centurylinklabs.watchtower.enable=true

volumes:
  staticfiles:
